<%= provide(:page_title, "Profile: #{@user.username}") %>

<table>
  <tbody>
    <tr>
      <td>user: </td>
      <td><%= @user.username %></td>
    </tr>
    <tr>
      <td>created: </td>
      <td><%= @user.created_at %></td>
    </tr>
    <tr>
      <td>karma: </td>
      <td><%= @karma %></td>
    </tr>
    <tr>
      <td>about: </td>
      <td><%= @user.about %></td>
    </tr>
    <tr>
      <td></td>
      <td><%= link_to 'Submissions', user_submissions_path %></td>
    </tr>
    <tr>
      <td></td>
      <td><%= link_to 'Comments', user_comments_path %></td>
    </tr>
    <tr>
      <td></td>
      <td><%= link_to 'Favorites', user_favorites_path %></td>
    </tr>
  </tbody>
</table>
