<% if !(yield(:page_title) == ('Sign Up') || yield(:page_title) == ('Log In')) %>
  <header class="navbar navbar-default" role="navigation">
    <div class="navbar-brand">
      <%= link_to "Hacker News", root_path %>
    </div>
    <nav class="collapse navbar-collapse navbar-ex-1-collapse">
      <ul class="nav navbar-nav navbar-left">
        <li><%= link_to "new", newest_path %></li>
        <li><%= link_to "comments", comments_path %></li>
        <li><%= link_to "submit", new_submission_path %></li>
        <% if user_signed_in? %>
          <li><%= link_to "account", edit_user_registration_path %></li>
        <% end %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li><%= link_to "logout", destroy_user_session_path, :method => :delete %></li>
        <% else %>
          <li><%= link_to "login", new_user_session_path %></li>
        <% end %>
      </ul>
    </nav>
  </header>
<% end %>
